<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Weather in {{weather.city}}</title>
    <link rel="stylesheet" href="./css/city.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="city-container">
                <div class="city">{{weather.city}}</div>
                <div class="temperature">{{weather.temperature}}°C</div>
                <div class="weather-condition">{{weather.description}}</div>
                <img src="https://openweathermap.org/img/wn/{{weather.icon}}@2x.png">
                <button class="button" onclick="window.location.href = '/'">Back</button>
            </div>
        </div>
    </div>
</body>
</html>
